* {
    /* Control variables modified by Javascript*/
    /* Other golbal settings and control variables */
    --card-slide-animation-duration: 0.2s;
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    /* text-align: center; */
    /* scroll-behavior: smooth; */
    /* -webkit-user-select: none; */
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    /* touch-action: pan-y; */
}

.main {
    width: calc(min(60em, 90vw));
    margin: auto;
    container-type: inline-size;
}

#title {
    font-size: 2em;
    font-weight: bold;
}

#solver-bar {
    background-color: lightgray;
    justify-content:space-between;
    font-weight: bold;
    flex-wrap: wrap;
    /* padding: 5cqw; */
    font-size: 0.8em;
}

#solver-bar>div {
    display: flex;
}

#solver-bar>div>* {
    margin-left: 1cqw;
    margin-right: 1cqw;
    align-self: center;
}

#title-bar {
    justify-content: space-between;
}

.topbar {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    width: 100cqw;
}

.topbar-button {
    height: 1.6em
}

/* GAME AREAS */

.top-area {
    display: flex;
}

.column-area {
    display: flex;
}

.column {
    margin: 0cqw;
    padding: 0.4cqw;
    flex-grow: 1;
    /* flex-basis: 0; */
    width: 0;
}

.free-cell {
    margin: 0cqw;
    padding: 0.4cqw;
    /* border-radius: 1vw; */
    background-color: grey;
    flex-grow: 1;
    width: 0;
}

.foundation {
    margin: 0cqw;
    padding: 0.4cqw;
    background-color: lightblue;
    flex-grow: 1;
    width: 0;
}

/* PLAYING CARD STANDARDS */

.playing-card-layout-box {
    font-size: calc(min(2em, 4cqw));
    position: relative;
    /* border: 1px solid red; */
}

.playing-card-layout-box-partial {
    height: 1.5em;
}

.playing-card-layout-box-fully-covered {
    height: 0em;
}

.playing-card {
    display: flex;
    /* align-items: center; */
    /* align-items: space-between; */
    /* justify-content: flex-end; */
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-width: 2px;
    border-radius: 2cqw;
    /* width: 10vw; */
    height: 14cqw;
    flex-direction: column;
    padding: 0.2em;
    background-color: white;
}

[class *="playing-card-label"] {
    display: flex;
    height: 1em;
}

.playing-card-label-top {
    align-self: flex-start;
}

.playing-card-label-bottom {
    align-self: flex-end;
}

.playing-card-value {
    display: flex;
    align-self: center;
}

.playing-card-suit {
    font-size: 1.2em;
    align-self: center;
}

/* PLAYING CARD HIGHLIGHTS */
.card-start-highlight>div {
    background-color: lightgrey;
}

.card-end-highlight>div {
    background-color: greenyellow;
}

.card-debug-highlight>div {
    background-color: yellow;;
}

/* PLAYING CARD ANIMATIONS */

.animated-card {
    animation-duration: var(--card-slide-animation-duration);
    animation-name: slide-card;
    z-index: 1; /*Set above other cards*/
    /* border: 2px solid red */
}

@keyframes slide-card {
    from {
        translate: var(--translateFromX) var(--translateFromY);
    }

    to {
        translate: 0px 0px
    }
}